@model MyOnlineShop.Models.OrderViewModel

<html dir="rtl" lang="ar">
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h3 class="text-center">شیوه ارسال</h3>
    <input class="text-hide" asp-for="Finalprice" id="finalPrice" />
    <input class="text-hide" asp-for=@Model.DiscountId id="discountId" />
    <form method="post">
        <div class="row">
            @if (Model.FragileItems.Count != 0)
            {
                <div class="col-md-6">
                    <table cellpadding="2" cellspacing="2" border="1" class="table">
                        <tr class="text-center table-danger">
                            <th>ارسال با پست پیشتاز</th>
                        </tr>
                        <tr class="text-center">
                            <th class="table-dark">نام کالا</th>
                        </tr>
                        @foreach (var item in Model.FragileItems)
                        {
                            <tr class="text-center">
                                <td>@item.Product.Name</td>
                            </tr>
                        }
                    </table>
                </div>
            }

            @if (Model.NormalItems.Count != 0)
            {
                <div class="col-md-6">
                    <table cellpadding="2" cellspacing="2" border="1" class="table">
                        <tr class="text-center  table-success">
                            <th>ارسال عادی</th>
                        </tr>
                        <tr class="text-center">
                            <th class="table-dark">نام کالا</th>
                        </tr>
                        @foreach (var item in Model.NormalItems)
                        {
                            <tr class="text-center">
                                <td>@item.Product.Name</td>
                            </tr>
                        }
                    </table>
                </div>
            }
        </div>

        <div class="input-group">
            <input type="text" class="form-control" id="discount" placeholder="کد تخفیف">
            <a class="btn btn-outline-secondary" onclick="SubmitDiscount()">اعمال کد تخفیف</a>
        </div>

        <div class="row">جمع فاکتور</div>
        <div class="alert-info" align="right">
            <span id="totalPrice"> @Model.Finalprice</span>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a class="btn btn-secondary" asp-controller="Cart" asp-action="index">بازگشت به سبد خرید</a>
            <button class="btn btn-primary" asp-controller="Order" asp-action="SubmitOrder">ثبت نهایی</button>
        </div>

    </form>
</body>
</html>

<script type="text/javascript">
    function SubmitDiscount() {

        var code = $("#discount").val();
        var finalprice = $("#finalPrice").val();
        if (code != "") {
        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: '/Order/SubmitDiscount',
            data: JSON.stringify({ code, finalprice }),
            success: function (result) {
                console.log(result.finalFactorResult);
                $("#totalPrice").text(result.finalFactorResult).append('<del> ' + finalprice + '</del>'); 
                $("#discountId").val(result.discountId);
            },
            error: function () {
                alert('کد تخفیف نا معتبر است');
            }
        })
        }
    }

</script>