<html dir="rtl" lang="ar">

@if (ViewBag.ErrorTitle == null)
{
    <h3>
        در پردازش درخواست شما مشکلی بوجود آمده .
    </h3>
}
else
{
    <h1 class="text-danger">@ViewBag.ErrorTitle</h1>
    <h6 class="text-danger">@ViewBag.ErrorMessage</h6>
}

</html>